body {
    margin: 0px;
}

input {
    width: 100%;
}

main {
    background-color: pink;
    margin: 0px auto;
    padding: 10px;
    height: 300px;
    width: 90%;

    /* min-height: 300px; */
    /* min-width: 600px; */

    /* max-height: 300px; */
    max-width: 300px; 
}