body {
    margin: 0px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}
.container {
    display: flex;
    padding: 8px;
    margin: auto;
    width: 400px;
}

.item {
    background-color: aqua;
    color: black;
    font-size: 16px;
    margin: 8px;
    text-align: center;
    flex: 1;
}